<div class="job-details-container" *ngIf="jobs">
  <button (click)="goBack()" class="back-button">Back</button>
  <div class="job-header">
    <div class="compnayimg">
      <img
        [src]="jobs.companyLogo"
        alt="{{ jobs.companyName }} logo"
        width="50"
      />
    </div>
    <div class="companyName">{{ jobs.companyName }}-{{ jobs.title }}</div>
  </div>

  <div class="details">
    <b>Pulish Date:</b> {{ jobs.publishDate }}
    <br />
    <b>Location:</b> {{ jobs.location }}
    <br />
    <b>Reference:</b> {{ jobs.reference }}
    <br />
    <div *ngFor="let section of descriptionSections">
      <h3>{{ section.title }}</h3>
      <div [innerHTML]="section.content"></div>
    </div>
  </div>
</div>
